*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 1200px;
  height: 600px;
  background-color: beige;
}

.main__caja{
  width: 250px;
  height: 200px;
  background-color: tomato;
}
